body{
	background-color: #000000;
}
p{
	font-family: "Ink Free","MV Boli",sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 19px;
	text-decoration: blue dotted underline;
	color: #00aa00;
	background-color: #111111;
}
h1{
	font-family: "press Start 2P", "Ink Free", sans-serif;
	color: #00FF00;
}